.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-footer {
  padding: 10px 50px;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
  height: calc(100% - 50px);
}
